@font-face {
  font-family: Bubbleboddy Neue;
  src: url("../src/assets/font/bubbleboddyneue-regular\ trial.ttf");
  src: url("../src/assets/font/bubbleboddyneue-regular\ trial.woff");
}
* {
  color: #151217;
  padding: 0;
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  color: #151217;
}

main {
  background-color: #f9d0a3;
}

.title {
  font-family: Bubbleboddy Neue, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

h2 {
  padding: 2em;
  font-size: 2em;
}

a {
  text-decoration: none;
}
